:root {
	--bg-input: white;
	--color-input: black;
	--bg-button: black;
	--bg-button-hover: rgba(34, 34, 34, 1);
	--color-button: white;
	--border-input: 1px solid black;
	--gap: 0.2em;
	@media (prefers-color-scheme: dark) {
		--bg-input: black;
		--color-input: white;
		--bg-button: white;
		--bg-button-hover: rgb(233, 233, 233);
		--color-button: black;
		--border-input: 1px solid white;
	}
}
body {
	background-color: var(--bg-input);
	color: var(--color-input);
}

/** forms & links **/
a {
	color: inherit;
}

.button,
button,
input,
fieldset,
*::part(fieldset),
*::part(input),
*::part(button-source),
*::part(button),
*::part(link) {
	border: none;
	margin: 0;
}
.button,
button,
input,
*::part(input),
*::part(button-source),
*::part(button) {
	display: block;
	text-decoration: none;
	font-size: 1em;
}
.button,
button,
input[type="submit"],
input[type="reset"],
*::part(button-source),
*::part(button),
*::part(link) {
	padding: 0.5em 1.5em;
	line-height: 1;
	background-color: var(--bg-button);
	color: var(--color-button);
	cursor: pointer;
	&:hover {
		background-color: var(--bg-button-hover);
	}
}

.thread-post__user-button {
	font-size: 0.7em;
}
input,
*::part(input) {
	padding: 0.5em;
	background-color: var(--bg-input);
	color: var(--color-input);
	border: var(--border-input);
}
fieldset,
*::part(fieldset) {
	display: flex;
	gap: var(--gap);
	padding: 0;
}

/** containers **/

header,
section,
footer {
	max-width: 1024px;
	margin: 0 auto;
	padding: 1em 0;
}

/** lists **/

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

thread-post-list {
	margin-left: 0;
}

thread-post::part(children) {
	background-color: rgba(140, 140, 140, 0.338);
	border-left: 2px solid var(--bg-button);
	padding-left: 2em;
}

/** dialog **/

dialog::backdrop {
	background: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		rgba(0, 0, 0, 0.3) 1px,
		rgba(0, 0, 0, 0.3) 20px
	);
	backdrop-filter: blur(3px);
}

dialog {
	border: none;
	border-radius: 1em;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	padding: 1.6em;
	min-width: 20em;
	min-height: 20em;
	max-width: 25em;
}

form[method="dialog"] {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0;
}

form[method="dialog"] button[type="submit"],
button.close {
	width: 1em;
	height: 1em;
	padding: 0;
	border-radius: 1em;
}

/** errors **/

messages-list {
	position: absolute;
	top: 0;
	left: 50%;
	padding: 1em;
	display: flex;
	gap: 1;
	pointer-events: none;
	transform: translateX(-50%);
}

li.message {
	display: flex;
	gap: 3;
	padding: 1em;
	align-items: center;
	pointer-events: all;
	text-shadow: 0 0 2px #fffffffa;
	background-color: rgba(109, 204, 137, 0.457);
}

li.message.message__error {
	background-color: rgba(222, 44, 44, 0.283);
}

/** header **/

nav,
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1em;
}
header {
	border-bottom: 1px solid var(--bg-button);
	justify-content: space-between;
	align-items: stretch;
}
nav {
	align-items: stretch;
	a {
		text-decoration: none;
		display: flex;
		padding: 0.5em;
		align-items: center;
		&:hover {
			background: black;
			color: white;
		}
	}
}

/** Special states/pages **/

$pages: posts, profile, urls, home, contact, admin;

[class^="show_on_page_"],
[class*=" show_on_page_"] {
	display: none;
}

%page-shown {
	display: block;
}

@each $page in $pages {
	.page-#{$page} {
		.show_on_page_#{$page} {
			@extend %page-shown;
		}
	}
}

body.is_moderator::after {
	content: "moderation mode";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.2em;
	margin: 0.2em;
	font-size: 0.8em;
	background-color: rgba(248, 118, 25, 0.371);
}

.thread-post__moderator-button {
	font-size: 0.7em;
	background-color: rgb(216, 97, 97);
}
